/*
Section: Layout
*/

/* HTML Tag selectors
-----------------------------------------*/
body { margin: 0; padding: 0; }
form { margin: 0; padding: 0; display: block; }
blockquote { margin: 16px 0; padding: 16px 32px; border: solid 1px; }
iframe { display: block; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { display: block; margin: 0 0 6px 0; padding: 0; }
p { display: block; margin: 0 0 6px 0; padding: 0; }
a { outline: 0; }
a img { border: 0 none; }
abbr { border: 0 none; }

/* Class selectors
-----------------------------------------*/
.no-display { display: none; }
.clear { clear: both; }

/* Container
-----------------------------------------*/
div#container { }

/* Header
-----------------------------------------*/
div#header { }
div#header .pad { width: 960px; margin: 0 auto; }
div#header h3 { display: none; }
div#header .box-masthead { height: 97px; float: left; }
div#header .title { display: block; margin: 0; padding: 0; }
div#header .title a { display: block; margin: 0; padding: 0; width: 326px; height: 97px; text-indent: -999999px; }
div#header .description { display: none; }
div#header .box-socialnet { float: right; margin: 36px 0 0 0; }
div#header .box-socialnet ul { display: block; margin: 0; padding: 0; list-style-type: none; height: 32px; }
div#header .box-socialnet ul li { float: left; width: 32px; height: 32px; margin: 0 10px 0 0; padding: 0; }
div#header .box-socialnet ul li a { display: block; width: 32px; height: 32px; text-indent: -999999px; margin: 0; padding: 0; }
div#menubar { clear: both; } 

/* Featured
-----------------------------------------*/
div#featured .pad { width: 960px; height: 400px; margin: 0 auto; overflow: hidden; }
div#featured h2 { display: none; }

/* Body
-----------------------------------------*/
div#body { width: 960px; margin: 0 auto; padding: 0 0 68px 0; position: relative; }
div#body div#ads-google-text { margin: 0 1px; border-bottom: 1px solid; }
div#body div#ads-google-text .pad { text-align: center; padding: 10px 0; border: 1px solid; border-top: 0 none;  }
div#body div#content { width: 620px; margin: 0; padding: 0; float: left; }
div#body div#sidebar { width: 300px; margin: 0; padding: 20px 20px 0 0; float: right; }

/* Post
-----------------------------------------*/
.hentry .title { margin: 0 0 10px 0; }
.hentry .meta { padding: 3px 0 6px 0; }
.hentry .meta p { display: block; margin: 0; padding: 0; }
.content-group .post-group { margin: 0 0 0 1px; }
.content-group .content-title { text-align: center; padding: 20px 0; }
.content-group .hentry { 
	padding: 0 0 10px 0; border: 1px solid; margin: -1px 0 0 -1px; 
	width: 268px; padding: 20px; height: 328px; overflow: hidden; float: left; 
}
.content-group .hentry div.thumbnail { padding: 0 0 7px 0; }
.content-group .not-found { width: auto; height: auto; float: none; border: 0 none; margin: 0; }
.content-singular .hentry { padding: 0 0 0 20px; }
.content-singular .hentry .title { margin: 20px 0 0 0; }
.content-singular .hentry .title h1 { margin: 0; }
.content-singular .hentry .meta { margin: 0 0 20px 0; padding: 0; }
.content-singular .hentry .meta p { margin: 0; padding: 0; }
.content-singular .hentry .ads { text-align: center; margin: 0 0 20px 0; }
.content-singular .hentry .ads img { padding: 0; border: 0 none; }
.content-singular .hentry .content { padding-bottom: 30px; }
.content-page .hentry .title { margin: 20px 0 0 0; }

/* Post Details
-----------------------------------------*/
.content-single .hentry .post-box { padding: 0; margin: 0 0 30px 0; }
.content-single .hentry .post-box .title { padding: 5px 0; border-top: 0 none; border-bottom: 1px dashed; margin: 0 0 10px 0; }
.content-single .hentry .post-box .title h2 { margin: 0; }
.content-single .hentry .post-box .title p { margin: 0; }
.content-single .hentry .post-box-share .interior ul { display: block; list-style: none; margin: 0; padding: 0; height: 32px; }
.content-single .hentry .post-box-share .interior ul li { display: block; margin: 0 15px 0 0; padding: 0; float: left; }
.content-single .hentry .post-box-share .interior ul li a { display: block; float: left; border: 0 none; }
.content-single .hentry .post-box-share .interior ul li a img { border: 0 none; padding: 0; }
.content-single .hentry .post-box-related .interior { overflow: hidden; }
.content-single .hentry .post-box-related .interior img { padding: 0; border: 0 none; width: 136px; height: 70px; }
.content-single .hentry .post-box-related .interior ol { display: block; margin: 0; padding: 0; list-style-type: none; width: 680px; }
.content-single .hentry .post-box-related .interior ol li { display: block; width: 136px; margin: 0 15px 0 0; padding: 0; float: left; }

/* Comments
-----------------------------------------*/
ol.comments-list { display: block; list-style: none; margin: 15px 0 0 0; padding: 0; }
ol.comments-list li.comment { display: block; list-style: none; margin: 0; padding: 0; }
ol.comments-list li.comment ul.children { margin: 0 0 0 40px; }
div.comment { border-bottom: 1px solid; margin: 0 0 20px 0; }
div.comment .comment-author { width: 171px; float: left; }
div.comment .comment-author .comment-avatar { margin: 0 10px 0 0; float: left; }
div.comment .comment-author .comment-avatar img.avatar { border: 2px solid; padding: 1px; }
div.comment .comment-author span { display: block; }
div.comment .comment-details { margin: 0 0 0 171px; padding: 0 0 18px 18px; min-height: 100px; }
div.comment .comment-actions { padding: 4px 0; text-align: right; }
ol.trackbacks-list { margin: 0 0 0 3em; padding: 0; }

/* Comment Form
-----------------------------------------*/
div#reply label { display: block; padding: 0 0 3px 6px; }
div#reply input { border: 1px solid; padding: 5px; }
div#reply textarea { border: 1px solid; padding: 5px; width: 588px; }
div#reply button { border: 0 none; margin: 0; padding: 0; width: 99px; height: 29px; cursor: hand; }
div#reply button span { display: none; }
div#reply .comment-submit { text-align: right; }
div#reply .input { display: block; margin: 0 0 10px 0; }
div#reply .input-small { width: 290px; }
div#reply .input-small input { width: 278px; }
div#reply .input-name { float: left; }
div#reply .input-email { float: right; }
div#reply .input-website { clear: both; }
div#reply .input-website input { width: 588px; }

/* Sidebar
-----------------------------------------*/
div#sidebar h2 { display: none; }
div#sidebar .box { margin: 0 0 10px 0; padding: 0 0 11px 0; }
div#sidebar .box .title { border-bottom: 1px solid; padding: 0 0 5px 0; margin: 0 0 5px 0; } 
div#sidebar .box .title h3 { display: block; margin: 0; padding: 0; }
div#sidebar .box ul { display: block; margin: 0; padding: 0; }
div#sidebar .box ul li { display: block; margin: 0 0 5px 0; padding: 0 0 5px 0; }
div#sidebar .box ul ul { display: block; margin: 5px 0 -10px 0; padding: 5px 0 0 3em; }
div#sidebar .box ul ul li { padding: 0 0 5px 0; }
div#sidebar .box-search .title { display: none; }
div#sidebar .box-search .interior { height: 30px; }
div#sidebar .box-search p { display: block; margin: 0; padding: 0; }
div#sidebar .box-search label { display: none; }
div#sidebar .box-search input { border: 0 none; width: 260px; margin: 0; padding: 9px 10px 9px 30px; float: left; }
div#sidebar .box-search button { display: none; }
div#sidebar .box-ads .title { display: none; }
div#sidebar .box-ads .interior { padding: 0; }
div#sidebar .box-fb-like .title { display: none; }
div#sidebar .box-fb-like .interior { padding: 0; }
div#sidebar .box-tweet .title { display: none; }
div#sidebar .box-tweet .interior .pad { padding: 0 0 45px 0; }
div#sidebar .box-tweet .interior .pad .inner { padding: 10px 10px 0 10px; }

/* Footer
-----------------------------------------*/
div#footer .pad { width: 960px; margin: 0 auto; padding: 20px 0 10px 0; position: relative; }
div#footer p { display: block; margin: 0; padding: 0; }
