
#slideshow { position: relative; }
#slideshow img { }

.nivoSlider { position: relative; }
.nivoSlider img { position: absolute; top: 0px; left: 0px; }
.nivoSlider a.nivo-imageLink {
	position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; 
	border: 0; padding: 0; margin: 0; z-index: 60; display: none;
}
.nivo-slice { display: block; position: absolute; z-index: 50; height: 100%; }

.nivo-caption {
	position: absolute; left: 0px; bottom: 0px;
	background: #333; color: #fff;
	text-shadow: 1px 1px 0px #000; opacity: 0.8;
	width: 100%; z-index: 89; margin: 0;
}
.nivo-caption p { padding: 28px 18px; margin: 0; color: #fff; font-family: Arvo, serif; font-weight: bold; }

.nivo-directionNav a {
	position: absolute; top: 157px;
	z-index: 99; cursor: pointer;
	width: 42px; height: 42px;
	background: url('../images/slideshow/prev_next.png') no-repeat;
	text-indent: -9999px; overflow: hidden;
}
a.nivo-prevNav { left: 10px; }
a.nivo-nextNav { right: 10px; background-position: -44px 0; }
div.nivo-controlNav { bottom: 35px; position: absolute; right: 10px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	display: block;
	background: url('../images/slideshow/navigator.png') no-repeat 0 -12px;
	width:11px;
	height: 11px;
	float: left;
	margin: 0 3px;
	text-indent: -9999px;
	overflow: hidden;
}
.nivo-controlNav a.active {
	background-position: 0 0;
}