/* CSS DESIGN AWARDS */
* {	margin: 0;	padding: 0; }
body { color: #FFF;	font: 12px/20px Georgia, "Times New Roman", Times, serif; background: #000 url(../img/bg-tile.jpg) repeat-x left top; }	
h1, h2, h3 { color: #fff; font-weight: normal; }
h1 { font-size: 32px; font-style: italic; margin-bottom: 45px;	}
h2 { font-size: 20px; margin-bottom: 20px; }
h3 { font-size: 18px; margin-bottom: 10px; }
h4 { font-size: 16px; margin-bottom: 10px; }
h5, h6 { font-size: 12px; margin-bottom: 5px; }
p { padding-bottom: 15px; }
img { border: none; }	
a {	color: #a06ad9; text-decoration: none; }
a:hover { color: #a06ad9; text-decoration: none; }
ul, ol { padding-left: 20px; margin-bottom: 15px; }
li { margin-bottom: 2px; list-style: square; }

#wrapper { width: 1000px; margin: 0 auto;  }
	#header { }
		#twitter { float: right; width: 70px; }
		#menu { float: right; width: 528px; font-size: 16px; font-style: italic; }		
			#menu ul { list-style: none; margin: 0; padding: 0; }
			#menu li { list-style: none; float: left; width: 85px; text-align: center; margin: 0; padding: 15px 0 0;}
			#menu li.menu-item-about { width: 64px; }
			#menu li.menu-item-winners { width: 78px; }
			#menu li.menu-item-nominees { width: 87px; }
			#menu li.menu-item-css-gallery { width: 96px; margin-right: 3px; }	
			#menu a { color: #fff; text-decoration: none; }
			#menu a:hover { color: #a06ad9; text-decoration: none; }			
			#menu a.submit-website { float: left; display: block; width: 200px; background: #a06ad9; font-size: 20px; padding: 15px 0; text-align: center; }
			#menu a.submit-website:hover { color: #262626; } 
		#logo { margin-top: 19px; margin-bottom: 69px; padding-left: 40px; }		
	.latest-winner { margin-bottom: 80px; }
		.latest-winner-heading { float: left; width: 40px; }
		.latest-winner-image { float: left; width: 647px; /*margin-bottom: -100px;*/ overflow: hidden; }
		.latest-award { position: relative; top: -385px; }
		.latest-winner-details { float: right; width: 269px; }
			.winner-date { margin-bottom: 20px; }
				.winner-date-day { float: left; width: 89px; color: #a06ad9; font: 82px "Times New Roman", Times, serif;font-size:36px; }
				.winner-date-month { float: right; width: 180px; font-size: 36px; font-style: italic; line-height: 0.8em; }
			.winner-site-name { margin-bottom: 17px; }
				.winner-site-name h3 { font-style: italic; margin-bottom: 0; } 
				.winner-site-name h3 a { color: #fff; }
				.winner-site-name h3 a:hover { color: #a06ad9; } 
			.winner-stats {}
				.winner-stats-box { height:50px; margin-bottom: 12px; }
				.winner-stats-img { float: left; width: 50px; }
				.winner-stats-txt { float: right; width: 210px; }
					.winner-stats-txt h4 { font-weight: normal; font-size: 14px; font-style: italic; line-height: 1.2em; margin-bottom: 0; padding-bottom: 0; }
					.winner-stats-txt h4 a { color: #fff; }
					.winner-stats-txt h4 a:hover { color: #a06ad9; } 
					.winner-stats-txt p { font-style: italic; margin-bottom: 0; padding-bottom: 0; } 
					.winner-stats-item { color: #7d7d7d; }
					.winner-stats-value {}
				.winner-stats-desc {}
					.winner-stats-desc p { font-size: 14px; font-style: italic; padding-bottom: 0px; line-height: 1.3em; } 
				.winner-voting { margin-bottom: 15px; }
					.winner-up { width: 50px; height:50px; background: url(../img/like-bg.jpg) no-repeat left top; font: 12px Arial, Helvetica, sans-serif; text-align:center; }
					.winner-up a { color:#262626; text-decoration:none; }
					.winner-up a:hover { color: #fff; text-decoration:none; }
					.winner-up-likes { padding: 26px 0 0 13px; }
	#content { margin-bottom: 80px; }
		#content-heading { float: left; width: 40px; }
		#content-main { float: left; width: 647px; }
			.boxgrid { width: 215px; height: 130px; margin: 0 1px 1px 0; float: left; background: #784fa4; overflow: hidden; position: relative; }
			.boxgrid img { position: absolute; top: 0; left: 0; border: 0; }
			.boxgrid p { padding: 0 10px; color:#afafaf; font-weight:bold; font:10pt "Lucida Grande", Arial, sans-serif; }
			.boxgrid.boxgridlast { margin: 0 0 1px 0; } 
			.boxgrid h3 { color: #262626; font-size: 14px; font-style: italic; text-align: center; margin-top: 2px; margin-bottom: 0; }
			.boxgrid h3 a { color: #262626; text-decoration: none; }
			.boxgrid h3 a:hover { color: #fff; text-decoration: none; }
			a.winner-see-all { float: right; width: 215px; background: #a06ad9; color: #262626; font-size: 16px; font-style: italic; padding: 7px 0; text-align: center; }
			a.winner-see-all:hover { color: #ccc; }
			.boxgrid .site-status p { font: italic 11px Georgia, "Times New Roman", Times, serif; color: #262626; text-align: center;padding-bottom: 0; }
			
			#content-main-text { padding-left: 40px; }
				#content-main-text h2 { font-size: 24px; color: #a06ad9; font-style: italic; margin-bottom: 10px; }
				#content-main-text h3 { margin-bottom: 15px; } 
				#content-main-text p { font-size: 14px; font-style: italic; padding-bottom: 30px; }			
				#content-main-text a { text-decoration: underline; }
				#content-main-text a:hover { text-decoration: none; } 
				#content-main-text ul { padding-left: 0px; margin-bottom: 30px; list-style: none; }
				#content-main-text li { margin-bottom: 12px; list-style: none; font-size: 18px; font-style: italic; }
				
				#submission h2 { font-size: 20px; font-style:italic; color: #fff; }
				#submission h2.topmargin { margin-top: 30px; } 
					.submit-form-left { float: left; width: 280px; }
					.submit-form-right { float: right; width: 280px; }
				
				#page-advert { margin-top: 50px; margin-bottom: 30px; }
				#monthly-prize-winner h2 { margin-bottom: 25px; }
				#monthly-prize-winner p { font-size: 16px; padding-bottom: 15px; } 
			
			#content-main-advertising { padding-left: 40px; }
				#content-main-advertising h1 { color: #a06ad9; } 
				#content-main-advertising h2 { font-style: italic; }				
				#content-main-advertising h3 { font-style: italic; color: #a06ad9; margin-bottom: 5px; }
				#content-main-advertising p { font-size: 14px; font-style: italic; padding-bottom: 30px; }
				#content-main-advertising ul { padding-left: 0px; margin-bottom: 30px; list-style: none; }
				#content-main-advertising li { margin-bottom: 7px; list-style: none; font-size: 14px; font-style: italic; }
				#content-main-advertising p.contact-para { font-size: 18px; font-style: italic; }
				#content-main-advertising p.contact-para a { text-decoration: underline; }
				#content-main-advertising p.contact-para a:hover { text-decoration: none; }
			
			#content-social-media { margin-left: 40px; margin-top: 0; }
				#content-social-media img { padding-right: 5px; } 
			#display-comment { margin-left: 40px; margin-top: 30px; font-style: italic; }
				#display-comment h4 { font-size: 24px; margin-bottom: 20px; font-weight: normal; }
				#display-comment h5, #display-comment p { font-size: 14px; } 
				#display-comment h5 { color: #a06ad9; }
				#display-comment h5 a { color: #a06ad9; text-decoration: underline; } 
				#display-comment h5 a:hover { text-decoration: none; } 
				#display-comment p { padding-bottom: 5px; }
				#display-comment p.com-date { color: #666; }
				.site-comment { margin-bottom: 20px; }
			#post-comment { padding-left: 40px; margin-top: 40px; font-style: italic; }
				#post-comment h4 { font-size: 24px; margin-bottom: 20px; font-weight: normal; }
		
		#content-side { float: right; width: 269px; }
			#adverts { margin-top: 11px; margin-bottom: 30px; }
				#adverts img { margin-bottom: 1px; }
				.large-ad {}
				.medium-ad {}
				.small-ad {}
					.small-ad img { float: left; width: 89px; margin-right: 1px; }
					.small-ad img.last-ad { margin-right: 0; }
			#most-liked { }
				#most-liked h2 { font-size: 18px; font-style: italic; margin-bottom: 23px; }
					.most-liked-listing { margin-bottom: 17px; }
						.most-liked-voting { float: left; width: 50px; margin-right: 10px; }
						.most-liked-details { float: left; width: 209px; } 
							.most-liked-details h3, .most-liked-details h4 { font-size: 14px; font-style: italic; font-weight: normal; line-height: 1em; }
							.most-liked-details h3 { margin-bottom: 7px; }
							.most-liked-details h3 a { color: #fff; } 
							.most-liked-details h4 { margin-bottom: 0px; color: #a06ad9; } 
	
	#facebook-wrapper { width: 1000px; margin: 20px 0 20px; background: #fff; overflow: hidden;position: relative; padding-bottom: 10px; color: #7d7d7d;} 	
	#facebook-wrapper iframe { margin: -1px -1px 0 -1px; border:none; overflow:hidden; width:998px; height:154px;}
	#facebook-wrapper iframe { margin: -1px -1px 0 0px; border:none; overflow:hidden; width: 999px; height:154px; }

	#content-sub { background: #a06ad9; padding: 23px 0 0; }
		.content-sub-box { float: left; width: 240px; height: 250px; border-right: 2px dotted #784fa4; padding: 0 0 8px 30px; }
			.content-sub-heading { height: 27px; padding-left: 36px; margin-bottom: 16px; }
				.content-sub-heading h2 { font-size: 16px; font-style: italic; color: #202020; padding-top: 4px; margin-bottom: 0; } 
				.content-sub-heading h2 a { color: #573978; text-decoration: none; } 
				.content-sub-heading h2 a:hover { color: #202020; text-decoration: none; } 				
			#nominees {  }
				#nominees-heading { background: url(../img/heart.jpg) no-repeat left top; }									
			#pending { }
				#pending-heading { background: url(../img/clock.jpg) no-repeat left top; }
			.nominees-pending-details { padding-left: 36px;  }
				.nominees-pending-details h3 { font: 11px Arial, Helvetica, sans-serif; color: #333; margin-bottom: 0; }
				.nominees-pending-details p a { font: 11px Arial, Helvetica, sans-serif; color: #573978; }
				.nominees-pending-details p a:hover { color: #573978; text-decoration: underline; }
			
		#sponsors { float: left; width: 210px; }
			#sponsors-heading { padding-left: 0; }
			#sponsors ul { padding-left: 0; margin-bottom: 0; list-style: none; }
			#sponsors li { color: #573978; margin-bottom: 10px; list-style: none; font: 11px Arial, Helvetica, sans-serif; }
			#sponsors li a { color: #573978; }
			#sponsors li a:hover { color: #573978; text-decoration: underline; }
		#stuff { float: left; width: 150px; border: none; }
			#stuff-heading { padding-left: 0; }
			#stuff ul { padding-left: 0; margin-bottom: 0; list-style: none; }
			#stuff li { color: #573978; margin-bottom: 10px; list-style: none; font-size: 14px; font-style: italic; line-height: 1em; }
			#stuff li a { color: #573978; }
			#stuff li a:hover { color: #573978; text-decoration: underline; }
			
			#social-links {}
				#facebook { width: 90px; margin-top: 15px;  }
				#google { width: 90px; margin-top: 20px; }

	#footer { background: #784fa4; }
		#footer p { font-style: italic; color: #ccc; padding: 10px 0; text-align: center; }	
			#footer a { color: #ccc; text-decoration: none; }
			#footer a:hover { color: #444; text-decoration: none; }			
	
		
.clear { clear: both; line-height: 0; height: 0; }
.warning { font-size: 14px; color: #b13802; font-weight: bold; padding-bottom: 0; }
.notice { font-size: 14px; font-style: italic; color: #a06ad9; }
.heading, .invisible { display: none; }
.textPurple, .textPurpleBold { color: #a06ad9; }
.textGrey, .textGreyBold { color: #7d7d7d; }
.textWhite, .textwhiteBold { color: #fff; }
.textPurpleBold, .textGreyBold, .textwhiteBold { font-weight: bold; }
.site-pagination-win { float: left; width: 647px; margin-left: 40px; margin-bottom: 80px; }
.site-pagination { float: left; width: 647px; margin-top: 80px; margin-bottom: 20px; }
#pagination { float: right; width: 101px; }
.previous { float: left; width: 50px; margin-right: 1px; }
.next { float: right; width: 50px; }

#awards { margin-bottom: 10px; }
	.award-holder { float: left; width: 140px; margin-bottom: 20px; }
	.award-name { font-size: 12px; font-style: italic; color: #a06ad9; }
	.award-holder-large {  float: left; width: 220px; margin-bottom: 20px; }
	.award-holder-med {  float: left; width: 120px; margin-bottom: 20px; }

.vote-and-vist-site { margin-top: 38px; padding-left: 65px; }
	.up { float: left; width: 50px; height:50px; background: url(../img/like-mouse-over.jpg) no-repeat left top; font: 12px Arial, Helvetica, sans-serif; text-align:center; }
	.up a { color:#262626; text-decoration:none; }
	.up a:hover { color: #fff; text-decoration:none; }
	.likes { margin: 26px 0 0 12px; }
	.visit-site { float: left; width: 30px; height: 37px; background: url(../img/external-link.jpg) no-repeat left top; margin-top: 13px; margin-left: 5px; }
	a.external-site { display: block; width: 22px; height: 29px; color: #784fa4; padding: 4px; }	

form br { clear: both; }
label, input, select, textarea { font: 14px Georgia, "Times New Roman", Times, serif;  }
label { text-align: left; width: 150px; border: none; }

#formSearch {}
#formSearch .searchInput { float: left; width: 191px; height: 26px; border: none; padding: 2px 4px; background: #262626; color: #fff; }
#formSearch .submitButton { float: left; width: 70px; height: 30px; cursor: pointer; border: none; background: #784fa4; font-size: 16px; font-style: italic; color: #262626; padding-bottom: 2px; }

#formSubmit label { font-style: italic; color: #a06ad9; margin-bottom: 10px; }
#formSubmit input, #formSubmit textarea, #formSubmit select { width: 278px; margin-bottom: 15px; padding: 5px; background: #333; border: 1px solid #666; color: #fff; }
#formSubmit select { width: 289px; }
#formSubmit .checkBox {	width: 15px; height: 15px; margin: 0 5px 0 0; background: #333; border: 2px solid #666;  }
#formSubmit .checkboxLabel { width: 300px; display: block; }
#formSubmit .checkbox-wrapper { margin-top: 30px; margin-bottom: 30px;  }
#formSubmit h2 { font-size: 24px; margin-bottom: 25px; } 
#formSubmit p { padding-top: 10px;	padding-bottom: 5px; }
#formSubmit .submitButton { font-style: italic; background: #a06ad9; border: 1px solid #a06ad9; font-size: 18px; color: #262626; width: 180px; cursor: pointer; margin-top: 30px; padding: 10px 0;}
#formSubmit .textbox, #formSubmit .textboxavatar { float: left; width: 170px; margin-right:5px; margin-bottom: 10px; padding: 5px; background: #333; border: 1px solid #666; color: #fff;
}
#formSubmit .inputfile-wrapper { float: left; position: relative; width: 90px; height: 29px; overflow:hidden; }
#formSubmit .inputBrowse, #formSubmit .inputBrowseAvatar { width: 90px; height: 29px; position: absolute; top: 0px; background: #a06ad9; font-size: 14px; color: #262626; border: 1px solid #a06ad9; font-style: italic; }
#formSubmit .inputHidden, #formSubmit .inputHiddenAvatar { font-size: 27px; width: 90px; position: absolute; right: 0px; top: 0px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; }
#formSubmit .largeInput { width: 605px; margin-bottom: 20px; }
#formSubmit .quiz-label { float: left; width: 250px; font-size: 14px; color: #666; }
#formSubmit .quiz-input { float: right; width: 18px; margin-right: 0; margin-left: 0;}
#charlimitinfo { color: #666; }

#formComment label { float: left; display: block; width: 150px; color: #a06ad9; font-style: italic; margin-bottom: 15px; }
#formComment input, #formComment textarea { float: left; display: block; width: 300px; color: #fff; margin-bottom: 15px; background: #333; border: 1px solid #666; padding: 3px; }
#formComment p { padding-top: 10px;	padding-bottom: 5px; }
#formComment .submitButton { font-style: italic; background: #a06ad9; border: 1px solid #a06ad9; font-size: 18px; color: #262626; width: 180px; cursor: pointer; margin-top: 30px; padding: 10px 0;}
#formComment .quiz-label { float: left; width: 352px; font-size: 14px; text-align: right; margin-right: 10px; }
#formComment .quiz-input { float: left; width: 87px; margin-right: 0; margin-left: 0;}

#formContact {}
#formContact label { float: left; display: block; width: 150px; color: #a06ad9; font-style: italic; margin-bottom: 15px; }
#formContact input, #formContact select, #formContact textarea { float: left; display: block; width: 300px; color: #fff; margin-bottom: 15px; background: #333; border: 1px solid #666; padding: 3px; }
#formContact .contact-button { float: left; display: block; font-style: italic; background: #a06ad9; border: 1px solid #a06ad9; font-size: 18px; color: #262626; width: 120px; cursor: pointer; margin-top: 10px; padding: 10px 0; }
#formContact .tiny-input { width: 87px; }
#formContact .large-label { width: 350px; padding-top: 5px; text-align: right; margin-right: 10px; }
#formContact input.hidden {	display: none; }
#formContact br { clear: left; }
#formContact p { padding-bottom: 5px; }